/* src/index.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@theme {
  --font-pixel: "Press Start 2P", cursive;
}

@layer base {
  body {
    @apply font-pixel bg-[#2d3436] text-[#e0f8d0];
    image-rendering: pixelated;
    overflow: hidden;
  }
}

*:focus { outline: none !important; }

input {
  background-color: white !important;
  color: #081820 !important;
  padding: 8px !important;
  border: 4px solid #081820 !important;
}

@layer utilities {
  .scanlines {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.1)
    );
    background-size: 100% 4px;
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 40; /* İçeriklerin üstünde, modal'ların altında */
  }

  /* Retro Scrollbar */
  .retro-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  .retro-scrollbar::-webkit-scrollbar-track {
    background: #081820;
    border-left: 2px solid #e0f8d0;
  }
  .retro-scrollbar::-webkit-scrollbar-thumb {
    background: #58d030;
    border: 2px solid #081820;
  }
}